@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 35px;
    background-color: #11325F;
}

header .logo{
    position: relative;
    width: 75px;
    height: 20px;
}

header .navigation a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: #11325F;
    text-shadow: #11325F;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 5px 15px;
    border-radius: 30px;
    transition: 0.3s;
    transition-property: background;
}
 header .navigation a:not(:last-child){
    margin-right: 5px;
 }

 header .navigation a:hover{
    background: #ffffff86; 
 }

 section{
	width: 100%;
	height: 87vh;
	background-image: url("../img/PLMUN\ Building.jpg");
	background-size: cover;
    background-position: center;
 }


.profile-box{
	position: relative;
	top: 80px;
	width: 310px;
	height: 350px;
	margin: 0 auto;
	background-color: #11325F;
	text-align: center;
}

.profile-img{
	margin-top: 40px;
	width: 150px;
	height: 150px;
	background-color: aliceblue;
}

.profile-box h3{
	margin-top: 5px;
	color: white;
}

.profile-box a{
	position: relative;
	top: 30px;
	border-radius: 5px;
	background-color: #ffffffc5;
	font-weight: 500;
	padding: 12px 50px;
	text-decoration: none;
	color: black;
}